[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
flake8 = "*"
pre-commit = "*"
django = "*"
django-split-settings = "*"
black = "*"
djangorestframework = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.2"
